/* Generic CSS */
html,
body {
  height: 100%;
  background-color: #efeff0;
}

body {
  font-family: "Roboto Condensed", "sens-serif";
}

p {
  font-size: 16px;
  font-weight: 300;
  color: rgb(196, 194, 194);
}

h3 {
  text-transform: uppercase;
}

img {
  height: 100px;
  width: 100px;
}

/*=================================
            HOME
=================================*/
#home {
  height: 100%;
}

#home-cover {
  height: 100%;
  background-image: url(../img/AlekseyInL);
}

#home-content-box {
  width: 100%;
  height: 100%;
  display: table;
}

#home-content-box-inner {
  display: table-cell;
  vertical-align: middle;
}

#home-heading h3 {
  color: #efeff0;
  font-size: 55px;
  font-weight: 700;
  margin: 20px 0 20px 0;
}

.underline {
  border-top: 3px solid black;
}

/*=================================
            PARALLAX EFFECT
=================================*/
.bg-parallax {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/*=================================
            BUTTONS (generic)
=================================*/
.btn-general {
  border-color: #efeff0;
  border-width: 2px;
  border-radius: 0;
  padding: 12px 26px 12px 26px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.btn-white {
  border-color: #efeff0;
  color: #efeff0;
}

.btn-white:hover,
.btn-white:focus {
  background-color: #efeff0;
  color: #41464b;
}

.btn-red {
  border-color: #d60d0d;
  color: #d60d0d;
}

.btn-red:hover,
.btn-red:focus {
  background-color: #d60d0d;
  color: #fff;
}

.btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 22px;
  padding: 3px 15px;
  display: none;
}

/*=================================
            ANIMATE
=================================*/
#home-cover,
#home-heading,
#home-btn {
  animation-duration: .5s;
}

#home-cover {
  animation-delay: .1s;
}

#home-heading {
  animation-delay: .5s;
}

#home-btn {
  animation-delay: 1s;
}

/*=================================
            ABOUT
=================================*/
#about-bg-diagonal {
  width: 50%;
  height: 700px;
  float: right;
  background-image: url(../img/aboutBW.jpg);
  border-left: 200px solid #efeff0;
  border-top: 700px solid transparent;
}

#about-content-box {
  float: left;
  height: 700px;
}

#about-content-box-outer {
  width: 100%;
  height: 100%;
  display: table;
}

#about-content-box-inner {
  display: table-cell;
  vertical-align: middle;
}

#about .content-title h3 {
  text-align: left;
}

#about .content-title-underline {
  margin: 0 0 30px 0;
}

#about-desc p {
  margin-bottom: 30px;
}

/*=================================
            STUDENTS generic
=================================*/
.content-box {
  padding: 60px 0 60px 0;
  background-color: black;
  color: #efeff0;
}

.content-title h3 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #d60d0d;
  margin: 0 0 30px 0;
}

.content-title-underline {
  width: 30px;
  height: 3px;
  background-color: #d60d0d;
  margin: 0 auto 30px auto;
}

/*=================================
            STUDENTS
=================================*/
.student-item {
  padding: 22px 0;
  margin-bottom: 20px;
  cursor: pointer;
}

.student-item-pic img {
  float: left;
  padding: 0;
  border: 2px solid rgb(41, 41, 41);
  margin-right: 20px;
  height: 110px;
  width: 100px;
  text-align: center;
}

.student-item:hover .student-item-pic img {
  background-color: darkgray;
}

.student-item-title h4 {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 10px 0;
}

.student-item-desc p {
  margin: 0;
  padding-left: 85px;
}

.img-wrapper img {
  transition: transform .5s ease-in-out;
}

.img-wrapper img:hover {
  transform: scale(2);
  cursor: zoom-in;
}


.content-box-gallery {
  background-color: #efeff0;
}

/*=================================
            Gallery
=================================*/
.gallery-pic {
  margin: 0 10px;
}

.gallery-pic img {
  height: 280px;
  width: 500px;
}

.gallery-info {
  padding: 10px 0 30px 0;
}

h4.gallery-pic-info {
  color: #41464b;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  padding-top: 2px;
}

/*=================================
            Social Icons
=================================*/
.social-list {
  padding-left: 0;
}

.social-list li {
  list-style: none;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 6px;
  margin-top: 10px;
}

.social-icon i {
  font-size: 25px;
}

.icon-red i {
  color: #d60d0d;
}

.social-icon i:hover {
  color: #41464b;
}

/*=================================
            Testimonials
=================================*/
#customers-testimonials {
  padding: 30px 0;
}

.testimonial img {
  max-width: 120px;
  margin: 0 auto 0 auto;
}

.testimonial blockquote {
  border: 0;
  font-family: Georgia, sans-serif;
  font-style: italic;
  padding: 16px 150px;
  position: relative;
}

.testimonial blockquote:before,
.testimonial blockquote:after {
  font-size: 60px;
  font-style: normal;
  line-height: 1;
  width: 30px;
  height: 30px;
  position: absolute;
  color: lightgrey;
}

.testimonial blockquote:before {
  content: "\201C";
  top: 0;
  left: 100px;
}

.testimonial blockquote:after {
  content: "\201D";
  bottom: 0;
  right: 100px;
}

.testimonial-author p {
  font-size: 17px;
}

.testimonial-author strong {
  display: block;
}

/*=================================
            Clinics
=================================*/
.content-underline {
  width: 100px;
  height: 3px;
  background-color: #d60d0d;
  margin: auto 0 30px auto;
}

.clinics-box {
  border: 3px solid #efeff0;
  padding: 40px 120px;
  margin: 10px 0;
}

h4.clinics-title {
  display: inline-block;
  padding: 7px 17px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0 10px 0;
  letter-spacing: 1.5px;
  background-color: #d60d0d;
  color: #efeff0;
}

ul.clinics-spec {
  list-style: none;
  padding-left: 0;
  margin: 20px 0 45px 0;
}

ul.clinics-spec li p {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#clinics .content-box {
  padding-bottom: 20px;
}

#camps .content-box {
  padding-top: 20px;
}

/*=================================
            Contact
=================================*/
footer {
  padding: 30px;
  border-top: 5px solid rgba(0, 0, 0, 0.1);
}

#contact-left h3,
#contact-right h3 {
  color: #d60d0d;
  font-size: 25px;
  font-weight: 700;
}

#contact-left p {
  color: #41464b;
  margin-bottom: 30px;
}

address {
  color: #41464b;
  font-size: 17px;
}

address strong {
  font-size: 16px;
}

address strong,
#phone-fax-email strong {
  letter-spacing: 1px;
}

form .form-control {
  background: transparent;
  border-radius: 0;
  font-size: 17px;
  font-weight: 300;
  padding: 8px 16px;
  margin-bottom: 20px;
}

/*=================================
            Footer
=================================*/
#footer-bottom {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 30px 0;
  margin-top: 60px;
}

#footer-copyrights p {
  margin: 0;
  color: #41464b;
}

#footer-menu {
  float: left;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}

#footer-menu ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

#footer-menu ul li {
  display: inline-block;
  color: #d60d0d;
}

#footer-menu a {
  color: #d60d0d;
  font-size: 16px;
  font-weight: 400;
  margin: 0 15px;
  text-decoration: none;
}

#footer-menu a:hover {
  color: #41464b;
}

/*=================================
            Navigation
=================================*/
.navbar {
  padding: 20px 0;
  transition: all .5s ease-in-out;
}

.alex-top-nav {
  background: rgba(0, 0, 0, 0.6);
  padding: 7px 0;
  color: #efeff0;
}

.aleksey-nav-wrapper {
  padding: 0 55px;
}

.navbar-nav {
  float: right;
}

.navbar-nav>li>a {
  color: #efeff0;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
  background: none;
  color: #d60d0d;
}

.navbar-toggle {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #efeff0;
  border-radius: 3px;
}

.navbar-toggle .icon-bar {
  background-color: #efeff0;
}

.navbar-collapse {
  max-height: none !important;
}

.alex-top-nav ul.navbar-nav>li.active>a {
  color: #d60d0d;
}

.navbar-brand img {
  height: 40px;
  width: 40px;
}

/*=====================================
        Camp Form
=====================================*/
.camp-container-box {
  height: 300px;
}