/*========================================
            Bootstrap media query
=========================================*/

/* Large divices */
@media(min-width: 1200px) {
  /* OK */
}

/*====================
    MEDIUM devices 
 =====================*/
/* navbar hamburger menu */
@media(min-width: 992px) and (max-width: 1199px) {
  .navbar {
    background: rgba(0, 0, 0, .7);
    padding: 0;
  }

  .navbar-nav {
    float: left;
  }

  .aleksey-nav-wrapper {
    padding: 0;
  }

  .clinics-box {
    padding: 40px 80px;
  }

  #about-content-box {
    height: 850px;
  }
}

/*====================
    SMALL devices 
 =====================*/
/* navbar hamburger menu */
@media(min-width: 768px) and (max-width: 991px) {
  .navbar {
    background: rgba(0, 0, 0, .7);
    padding: 0;
  }

  .navbar-nav {
    float: left;
  }

  .aleksey-nav-wrapper {
    padding: 0;
  }

  .clinics-box {
    padding: 20px 20px;
  }

  .container {
    padding-left: 0;
    padding-right: 0;
  }

  ul.clinics-spec {
    margin: 20px 0;
  }

  /* home section */
  #home-heading h3 {
    font-size: 44px;
  }

  /* clinics section */
  .clinics-box h4,
  .clinics-box ul li p {
    font-size: 15px;
  }

  /* gallery section */
  .gallery-info h4 {
    font-size: 15px;
  }

  /* about section remove diagonal border */
  #about-bg-diagonal {
    border-left: 0;
    border-top: 0;
    width: 100%;
    height: 350px;
  }

  /* footer */
  #footer-copyrights {
    text-align: center;
  }

  #contact-left p {
    margin-bottom: 0;
  }

  form .form-control {
    margin-bottom: 10px;
  }
}

/*====================
    EXTRA SMALL devices 
 =====================*/
@media(max-width: 767px) {
  .navbar {
    background: rgba(0, 0, 0, .7);
    padding: 0;
  }

  .navbar-nav {
    float: left;
  }

  .aleksey-nav-wrapper {
    padding: 0;
  }

  .clinics-box {
    text-align: center;
  }

  .content-underline {
    margin: 0 auto;
  }

  .content-title h3 {
    font-size: 25px;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* home section */
  #home-heading h3 {
    font-size: 38px;
  }

  /* buttons */
  .btn-general {
    padding: 6px 22px 6px 22px;
    font-size: 14px;
  }

  ul.clinics-spec {
    margin: 20px 0;
  }

  /* about section remove diagonal border */
  #about-bg-diagonal {
    border-left: 0;
    border-top: 0;
    width: 100%;
    height: 350px;
  }

  #about-content-box {
    width: 100%;
    height: 650px;
  }

  /* footer */
  #footer-copyrights {
    text-align: center;
  }

  #contact-left p {
    margin-bottom: 0;
  }

  form .form-control {
    margin-bottom: 10px;
  }

  /* gallery */
  h4.gallery-pic-info {
    font-size: 15px;
  }

  /* testimonials */
  .testimonial blockquote {
    padding: 6px 45px;
  }

  .testimonial blockquote:before {
    left: 10px;
  }

  .testimonial blockquote:after {
    right: 10px;
  }

  .testimonial blockquote {
    font-size: 14px;
  }
}

/*====================
    EXTRA EXTRA SMALL devices 
 =====================*/
@media(max-width: 480px) {
  .content-title h3 {
    font-size: 24px;
    margin-bottom: 22px;
  }

  #about .content-title-underline {
    margin: 0 0 20px 0;
  }

  .content-title h3 {
    font-size: 23px;
  }

  /* outstanding students section */
  .student-item-pic img {
    height: 90px;
    width: 80px;
  }

  /* about section */
  #about-content-box-inner .content-title h3 {
    margin-top: 30px;
  }

  #about-bg-diagonal {
    height: 300px;
  }

  #about-desc p {
    margin-bottom: 15px;
  }

  #about-content-box {
    width: 100%;
    height: 900px;
  }

  /* clinics section */
  .clinics-box {
    padding: 30px 30px;
  }

  /* outstanding students */
  .student-item {
    padding: 10px 0;
    margin-bottom: 10px;
  }

  /* footer */
  #footer-copyrights p {
    font-size: 14px;
  }

  #contact-left h3,
  #contact-right h3 {
    font-size: 22px;
  }
}

/* Extra Small devices */
@media(max-width: 320px) {
  p {
    font-size: 14px;
  }

  .content-title h3 {
    font-size: 22px;
  }

  #about-content-box {
    width: 100%;
    height: 950px;
  }


  .student-item-pic img {
    height: 90px;
    width: 80px;
    margin-right: 15px;
  }

  /* outstanding students */
  .student-item {
    padding: 10px 0;
    margin-bottom: 10px;
  }

  /* testimonials */
  .testimonial img {
    max-width: 80px;
  }

  .testimonial blockquote {
    padding: 6px 30px;
  }

  .testimonial blockquote:before {
    left: 7px;
  }

  .testimonial blockquote:after {
    right: 7px;
  }
}